* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --weiss-gray: #DEDEDE;
}

body {
  background-color: var(--weiss-gray);
}

.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.lg-range-carousel-container {
  height: 400vh;
  background-color: var(--weiss-gray);
}

.lg-range-carousel-sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}

.lg-range-carousel-area {
  position: absolute;
  top: 0;
  height: 100%;
  width: 400vw;
  will-change: transform;
  display: flex;
  align-items: center;
}

.lg-range-carousel-area img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
}